<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MultiModal Fashion Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <nav class="header-area">
          <div class="logo">AI for  <b>Fashion Search</b></div>
          <ul class="links">
            <li>Home</li>
            <li>About Us</li>
            <!-- <li>Work</li> -->
            <li>Info</li>
            <li>Get Started</li>
          </ul>
        </nav>
        <div class="hero">
          <!-- <div class="info">
            <h1>MultiModal Fashion Search</h1>
          </div> -->
          
          <div class="image">
            <div id="matchesContainer">
              {% if matches %}
              <ul>
                {% for match in matches %}
                <li><img src="{{ match }}" alt="Match Image"></li>
                {% endfor %}
              </ul>
              {% else %}
              <p>No matches found</p>
              {% endif %}
            </div>
            <!-- <a href="/">Go back</a> -->
            <button><a href="/">Go back</a></button>
          </div>

        </div>
      </div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
          const matchesContainer = document.getElementById('matchesContainer');
          const matchesUl = matchesContainer.querySelector('ul');
  
          const setUlWidth = () => {
            const windowWidth = window.innerWidth;
            matchesUl.style.width = `${Math.floor(windowWidth * 0.7)}px`;
          };
  
          setUlWidth(); // Set the initial width
  
          window.addEventListener('resize', setUlWidth);
        });
      </script>
  </body>
</html>